<html>
<head>
  <meta charset="UTF-8">
  <title>kure_workshop_0327</title>
</head>
<body>
<h1>kure_workshop_0327</h1>

<h2>コメント確認</h2>
<dl>
  <dt><strong>■ コメントタイトル</strong></dt>
  <dd><%= @comment_title %></dd>

  <dt><strong>■ コメント本文</strong></dt>
  <dd><%= @comment_body %></dd>
</dl>

<div>
  <a href="/">戻る</a>
</div>

</body>
</html>